.First{
   margin-left: 250px;
   margin-right: 250px;
    background-color: peachpuff;
    padding: 20px;
}
.second{
    padding-left: 200px;
}
.Third{
    padding-left: 200px;
}
.Third{
    color: blue;
}
.second{
    color:rgb(255, 0, 0);
}